@import "../../vars.css";

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 226px 0 100px;
  font-family: "Inter", serif;

  overflow: hidden;
}

.content {
  width: 100%;
}
.contentRows {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

h1 {
  font-size: var(--font-size-h1);
  line-height: 5.5rem;
  font-weight: var(--font-weight-semibold);
  text-transform: uppercase;
}
h2 {
  font-size: var(--font-size-h2);
  line-height: 2rem;
  font-weight: var(--font-weight-light);
  text-wrap: wrap;
  text-align: center;
}
h3 {
  font-size: var(--font-size-h3);
  line-height: 1.25rem;
  font-weight: var(--font-weight-bold);
  font-family: "Hanken Grotesk", serif;
}

.headerDetail {
  max-width: 700px;
  width: 90%;
  padding-top: 1.25rem;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
}

.roundedBoarder {
  border: 1px solid var(--color-text-primary);
  padding: 12px 16px;
  border-radius: 80px;
  transition: shake 3s ease-in-out 0;
}

.roundedBoarder:hover {
  animation: shake 3s ease-in-out infinite;
}

.roundedBoarder:not(:hover) {
  animation: shake 2s ease-in-out 1;
  /* This will let the animation complete one more cycle */
}

@keyframes wave {
  0% {
    transform: rotate(0deg) scale(1);
  }
  10% {
    transform: rotate(25deg) scale(1.4);
  }
  20% {
    transform: rotate(-20deg) scale(1.6);
  }
  30% {
    transform: rotate(25deg) scale(1.4);
  }
  40% {
    transform: rotate(-15deg) scale(1.5);
  }
  50% {
    transform: rotate(20deg) scale(1.4);
  }
  60% {
    transform: rotate(-10deg) scale(1.3);
  }
  70% {
    transform: rotate(15deg) scale(1.2);
  }
  80% {
    transform: rotate(-5deg) scale(1.1);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}

.roundedBoarder h3 {
  margin: 0;
}

/* Create a span for the emoji to isolate the animation */
.roundedBoarder h3 .waveEmoji {
  display: inline-block;
  transform-origin: 70% 70%; /* Adjust the rotation point */
}

/* Apply animation on hover */
.roundedBoarder:hover .waveEmoji {
  animation: wave 2s cubic-bezier(0.28, 0.84, 0.42, 1) infinite;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 100px 0 50px;
  }
  h1 {
    font-size: 3rem;
    line-height: 3rem;
  }
  h2 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  h3 {
    font-size: 1rem;
    line-height: 1.25rem;
  }
  .headerDetail {
    padding-top: 1rem;
  }
  .roundedBoarder {
    padding: 8px 12px;
  }
}

@media screen and (max-width: 430px) {
  .container {
    padding: 100px 0 50px;
  }
  h1 {
    font-size: 2rem;
    line-height: 2rem;
  }
  h2 {
    font-size: 1rem;
    line-height: 2rem;
  }
  h3 {
    font-size: 1rem;
    line-height: 1.25rem;
  }
  .headerDetail {
    padding-top: 1rem;
  }
  .roundedBoarder {
    padding: 8px 12px;
  }
}
