@import "../../vars.css";

.container {
  height: 100vh;
  margin: 0;
  padding: 10px 0;
  background-image: url("/assets/hero-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  color: var(--color-text);

  margin: 200px auto;
}

.contentDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}
.introduction {
  display: flex;
  gap: 16px;
}
.name {
  font-size: 2.5rem;
}

.role {
  font-size: 5.25rem;
}

.contactIcons {
  display: flex;
  gap: 15px;
}

.contactIcon {
  height: 28px;
  width: 28px;
}
