@import "../../vars.css";

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  margin: 0;
  overflow: hidden;

  /* background-color: rgb(3, 60, 3); */
}

.content {
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
  /* background-color: rgb(225, 71, 24); */
}

.header {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.title {
  width: auto;
}

.title h4 {
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-bold);
}
.lineWrapper {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.line {
  width: 100%;
  height: 1px;
  background-color: white;
}

.contentDetails {
  display: flex;
}
.writing {
  max-width: 55%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: space-between;
}

.tech {
  /* background-color: blue; */
  width: 45%;
  display: flex;
  justify-content: flex-end;
}
.writing p {
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-regular);
  text-wrap: balance;
}
.buttons {
  display: flex;
  gap: 20px;
}
.buttonSm {
  display: none;
}

.techStack {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  max-width: 95%;
  /* background-color: yellow; */
}
.techIcons {
  width: 60px;
  height: 70px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: red;
}

@media screen and (max-width: 1000px) {
  /* .contentDetails {
    flex-direction: column;
    gap: 40px;
  }
  .writing {
    width: 100%;
  }

  .tech {
    background-color: blue;
    width: 45%;
    display: flex;
    justify-content: flex-end;
  }

  .buttonSm {
    display: flex;
    gap: 10px;
  }

  .buttons {
    display: none;
  } */
}

@media screen and (max-width: 768px) {
  .content {
    padding: 0 20px;
  }
  .contentDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .writing {
    max-width: 100%;
    padding: 0 20px;
  }

  .tech {
    width: 100%;
    justify-content: last baseline;
  }

  .techStack {
    width: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .writing p {
    font-size: 1.125rem;
  }
  .buttons {
    display: none;
  }
  .buttonSm {
    margin-top: 40px;
    display: flex;
    gap: 10px;
  }
}

@media screen and (max-width: 524px) {
  .title h4 {
    font-size: 1.5rem;
    font-weight: var(--font-weight-bold);
  }

  .writing p {
    font-size: rem;
    text-align: center;
  }

  .tech {
    width: 100%;
    justify-content: last baseline;
    /* background-color: pink; */
  }

  .techStack {
    /* background-color: yellow; */
    padding-left: 4%;
    width: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

@media screen and (max-width: 375px) {
  .tech {
    width: 100%;
    justify-content: last baseline;
  }

  .techStack {
    padding: 0px;
    width: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
