@import "../../vars.css";

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  margin: 0;
  overflow: hidden;

  background-color: rgb(3, 60, 3);
}

.content {
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
  /* background-color: rgb(225, 71, 24); */
}

.header {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.title {
  width: auto;
}

.title h4 {
  font-size: var(--font-size-h4);
}
.lineWrapper {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.line {
  width: 100%;
  height: 1px;
  background-color: white;
}

.contentDetails {
  display: flex;
  flex-grow: 1;
  gap: 80px;
}
.writing {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
}
.writing p {
  font-size: var(--font-size-body);
}
.buttons {
  display: flex;
  gap: 20px;
}
.buttonSm {
  display: none;
}

@media screen and (max-width: 1000px) {
}

@media screen and (max-width: 768px) {
  .contentDetails {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .buttons {
    display: none;
  }
  .buttonSm {
    display: flex;
    gap: 10px;
  }
}

@media screen and (max-width: 500px) {
}
