@import "../../vars.css";

.container {
  height: 50px;
  width: 100%;
  position: relative;
  /* border-bottom: 1px solid var(--color-text-primary); */
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  /* overflow: hidden; */
}

.logo {
  color: var(--color-text-primary);
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-regular);
  line-height: 1rem;
}
.menuBtn {
  display: none;
}
.menuItems {
  display: flex;
  flex-direction: row;
  gap: var(--nav-gap-lg);
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.menuItems a {
  color: var(--color-text-primary);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1rem;
}

@media screen and (max-width: 768px) {
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .menuBtn {
    display: block;
    cursor: pointer;
  }

  .menuItems {
    display: none;
  }
  .menu ul {
  }
  .menuItemsSmall {
    z-index: 100;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: var(--nav-gap-sm);
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    height: 100vh;
  }

  .menuItemsSmall li {
    list-style-type: none;
    padding: 12px;
    width: 100%;
    border-bottom: 1px solid var(--color-text-primary);
  }

  .menuItemsSmall li a {
    color: var(--color-text-primary);
    font-size: var(--font-size-body-sm);
  }
}
