@import "../../vars.css";

.container {
  width: 100%;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: var(--color-background);
}

.content {
  width: 100%;
  padding: 0;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 1000px;
}
.contentRows {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

h1 {
  font-size: var(--font-size-h1);
  line-height: 5.5rem;
  font-weight: var(--font-weight-semibold);
  letter-spacing: normal;
  text-transform: uppercase;
  font-family: "Inter", serif;
}
h2 {
  font-size: var(--font-size-h2);
  line-height: 1.8rem;
  font-weight: var(--font-weight-regular);
  text-wrap: wrap;
  text-align: center;
}
h3 {
  font-size: var(--font-size-h3);
  line-height: 1.5rem;
  letter-spacing: normal;
  font-weight: var(--font-weight-regular);
}

.headerDetail {
  max-width: 700px;
  width: 60%;
  margin-top: 0.5rem;
}
.firstRow > div:nth-child(1) {
  display: none;
}
.roundedBoarderDev {
  display: none;
}
.roundedBoarder {
  border: var(--border-style);
  padding: 16px;
  border-radius: var(--border-radius);
  transition: shake 3s ease-in-out 0;
}

.roundedBoarder:hover {
  animation: shake 3s ease-in-out infinite;
}

.roundedBoarder:not(:hover) {
  animation: shake 2s ease-in-out 1;
  /* This will let the animation complete one more cycle */
}

.roundedBoarder h3 {
  margin: 0;
}

@media screen and (max-width: 1000px) {
  h1 {
    font-size: 3.75rem;
    line-height: 3.25rem;
  }
  .headerDetail {
    width: 85%;
  }
}
/* @media screen and (max-width: 760px) {
  h1 {
    font-size: 3rem;
    line-height: 4rem;
  }
  .headerDetail {
    width: 75%;
    margin-top: 0.2rem;
  } 
}*/

@media screen and (max-width: 768px) {
  h1 {
    font-size: 3rem;
    line-height: 2.5rem;
    letter-spacing: 3px;
  }

  h2 {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }

  h3 {
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: var(--font-weight-regular);
  }
  .headerDetail {
    width: 70%;
    margin-top: 0.2rem;
  }
  .roundedBoarder {
    padding: 8px 16px;
  }
}

@media screen and (max-width: 640px) {
  .container {
    flex-direction: column;
    justify-content: center;
  }
  .content {
    padding: 0;
    margin: 0px;
  }
  .headerDetail {
    width: 90%;
    margin-top: 0.2rem;
  }

  .contentRows {
    gap: 4px;
  }

  h2 {
    font-size: 1rem;
    line-height: 1.2rem;
  }
  h3 {
    font-size: 0.625rem;
  }
  .firstRow > div:nth-child(1) h3 {
    font-size: 0.875rem;
  }
  .roundedBoarder {
    padding: 12px;
  }
  .roundedBoarderDev {
    display: inline;
    border: var(--border-style);
    padding: 12px;
    border-radius: var(--border-radius);
    transition: shake 3s ease-in-out 0;
    background: transparent;
    color: var(--color-text-primary);
  }

  .waveEmoji {
    font-size: 30px;
  }

  .firstRow {
    flex-direction: column;
    gap: 8px;
  }
  .firstRow > div:nth-child(1) {
    /* margin-bottom: 4px; */
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .firstRow > div:nth-child(3) {
    display: none;
  }
  .secondRow > div:nth-child(1) {
    display: none;
  }
  .thirdRow > div:nth-child(2) {
    display: none;
  }
}
