.button {
  background-color: transparent;
  color: rgb(255, 255, 255);
  border: var(--border-style);
  border-radius: 50px;
  padding: 16px 20px;
  font-size: var(--font-size-body);
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
  transition: all 0.3s ease;
  transform: scale(1);
}

.button.hovered {
  transform: scale(1.05);
}

.arrow {
  width: 20px;
  height: 20px;
  transition: transform 0.3s ease;
  transform: translateX(0);
  color: white;
}

.arrow.arrowHovered {
  transform: translateX(5px);
}

@media (max-width: 768px) {
  .button {
    font-size: 0.875rem;
  }
}
