@import "./vars.css";

.contentWrapper {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--color-background);
  height: 100vh;
  /* width: 83.33vw; */
  max-width: 1200px; /* Maximum width is 1200px */
  width: 100%;
  padding: 1.25rem;
  overflow: visible;
  color: white;
}

@media screen and (max-width: 768px) {
  .contentWrapper {
    width: 100vw;
  }
}
