@import "./vars.css";

.contentWrapper {
  margin: auto;
  background-color: var(--color-background);
  height: 100vh;
  width: 1200px;
  padding: 1.25rem;
}

@media screen and (max-width: 768px) {
  .contentWrapper {
    width: 100vw;
  }
}
