:root {
  /* Colours */
  --color-text-primary: #feffe3;
  --color-text-secondary: #989d95;
  --color-background: #04152d;
  --color-text-border: rgba(255, 255, 255, 0.227);

  /* Fonts weight */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-semibold: 600;

  /* Fonts size */
  --font-logo: 1.75rem;
  --font-logo-sm: 0.875rem;
  --font-size-h1: 6rem;
  --font-size-h2: 1.5rem;
  --font-size-h3: 1rem;
  --font-size-h4: 1.25rem;
  --font-size-h3-sm: 1.25rem;
  --font-size-body: 1rem;
  --font-size-body-sm: 0.875rem;

  --nav-gap-lg: 1.25rem;
  --nav-gap-sm: 0.5rem;

  --border-radius: 4rem;
  --border-style: 1px solid var(--color-text-border);
}
