:root {
  /* Colours */
  --color-text-primary: #ffffff;
  --color-text-secondary: rgba(255, 255, 255, 0.5);
  --color-background: #04152d;
  --color-text-border: rgba(255, 255, 255, 0.481);
  --color-background-secondary: rgba(245, 245, 245, 0.038);

  /* Fonts weight */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-semibold: 600;

  /* Fonts size */
  --font-logo: 1.5rem;
  --font-logo-sm: 0.875rem;
  --font-size-h1: 6rem;
  --font-size-h2: 1.5rem;
  --font-size-h3: 1rem;
  --font-size-h4: 2rem;
  --font-size-h3-sm: 1.25rem;
  --font-size-body: 1.25rem;
  --font-size-body-md: 1rem;
  --font-size-body-sm: 0.875rem;

  --nav-gap-lg: 1.25rem;
  --nav-gap-md: 1rem;
  --nav-gap-sm: 0.5rem;

  --border-radius: 4rem;
  --border-style: 1px solid var(--color-text-border);
  --border-style2: 1px solid rgba(255, 255, 255, 0.116);
}
